.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
    background-image: url('https://i.pinimg.com/236x/53/ce/a8/53cea8bef537385d1fa650db95773c0a.jpg') center fixed no-repeat;
        background-size: cover; /* Optional: ensures the image covers the whole element */
    
    
}

.dashboard-body {
    display: flex;
    flex: 1; /* Allow it to grow */
}
